body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    font: black;
    font-size: 1em;
    background-image: url('https://plus.unsplash.com/premium_photo-1667126447968-f02d4cb36114?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070');
    background-repeat: repeat;
}

#wrapper {
    width: 1000px;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
}

h1 {
    font-size: 1.5em;
    letter-spacing: .4em;
    font: italic;
}

h2 {
    font-size: 1.2em;
    letter-spacing: .4em;
    font: italic;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: black;
    transition: all .3s ease-in-out;
    padding: 10px;
    line-height: 1.6;
}

ul li a:hover {
    color: red;
    padding: 10px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    text-decoration: underline;
}

.hero-nav {
    position: absolute;
    top: 0;
    right: 250px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container p {
    margin: 0;
}

.imgWidth {
    width: 300px;
}

.imgGrid {
    display: grid;
    grid-template-areas: 'img text';
    gap: 20px;
    margin-bottom: 20px;
}
.boxShadow{
    transition: all .3s ease-in-out;
}
.boxShadow:hover{
transform: translateY(-10px);
box-shadow: 4px 4px 10px black;
}
#contactWrapper{
    width: 1000px;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 15%;
}
.contactH2{
    font-size: 1.2em;
    letter-spacing: .4em;
    font: italic;
    text-shadow: 4px 4px 10px black;
}
