body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

/*ID*/
#wrapper {
    width: 1000px;
    background-color: rgb(27, 27, 27);
    padding: 20px;
    margin: auto;

}

#flex {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

nav {
    padding: 20px;
    line-height: 30px;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

nav ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: aqua;
    transition: .5s;
}

a:hover {
    color: red;
    transition: .5s;
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: 200px;
}

.floatLeft {
    float: left;
    margin-right: 1em;
    margin-bottom: 10px;
    width: 350px;
}
.floatAgent{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.clear{
    clear: both;
}