body
{
    padding: 0%;
    margin: 0%;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.banner{
    width: 100%;
}
.headers{
    text-align: center;
}
nav{
    text-align: center;
}
nav a {
    text-decoration: none;
    padding: 10px;
    color: blue;
}
#contact{
    color: red;
    font-size: 1.5em;
}
h1{
    font-size: 1.4em;
    text-align: center;
}
.text{
    font-family: "Michroma", sans-serif;
    text-align: center;
}
nav a:hover{
    color: red;
}
.nikeimg{
    width: auto;
    text-align: center;
}
.leonshop{
    font-size: 2.5em;
    font-family: cursive;
}
.shoesimg{
    width: auto;
}