.container {
display : grid;
grid-template-areas:
"head head head head"
"nav core core core"
"foot foot foot foot";
}
header{
    background-color: #ccc;
    padding: 3em;
    grid-area: head;
}
aside {
    background-color: #f4f4f4;
    padding: 3em;
    grid-area: nav;
}
main {
    background-color: #fff;
    padding: 3em;
    grid-area: core;
}
footer {
background-color: #ddd;
padding: 3em;
grid-area: foot;
}