/* This is my styles page */
body{
    background: grey;
    height: 100vh;
    width: 900px;
    margin: auto;
}
.container{
    background: white;
    border-radius: 10px;
    padding: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2em;
}
input{
width: 100%;
padding: 1em;
box-sizing: border-box;
}
.form-group{
margin-bottom: 1em;
}
label{
    font-weight: bold;
}
h1{
    text-align: center;
    color: rebeccapurple;
}