#wrapper{
    width: 90%;
    background-color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1em;
    padding: 0;
    margin: 0;
    background-color: gray;
}
header {
    text-align: center;
    background-image: url('https://picsum.photos/1600/300');
    background-size: cover;
    padding: 1.5em;
    color: white;
}
h1{
    font-size: 1.5em;
    letter-spacing: 0.4em;
    font-style: italic;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: purple;
    transition: all .5s;
    line-height: 1.6;
}
ul li a:visited{
    color: orange;
}
ul li a:hover{
    color: red;
    text-decoration: underline;
}

.flex {
    display: flex;
    flex-direction: row;
}

aside {
    padding: 1em;
    flex: 1;
}

main p {
    margin: 0;
    padding: 15px;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.4em;
    font-style: italic;
}
img{
    border: 1px solid black;
}
section{
    padding: 15px;
}