html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 80px;
    color: white;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 15px;
}

.hero {
    background-image: url('../img/ItalyImage.jpg');
    height: 100vh;
}

.hero-nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.hero-content {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 1em;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, .4);
    border-radius: 5px;
}

a.hero-button {
    background-color: white;
    padding: 2em;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    opacity: .8;
    transition: all .3s ease-in-out;
    display: inline-block;
}

a.hero-button:hover {
    opacity: 1;
    transform: translateY(-15px);
}

.hero-darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: 0;
}
#about {
    padding: 50px;
    text-align: center;
    background: linear-gradient(to top right, #02aa53, #02552a);
}