* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}
/* font family, font color, background */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    size: 1em;
    background-color: grey;
}
/* H1 headings */
h1 {
    font-size: 1.5em;
    letter-spacing: .4em;
    font: italic;
}
/* H2 headings */
h2 {
    font-size: 1.2em;
    letter-spacing: .4em;
    font: italic;
}
/* Navigation bar */
nav {
    display: flex;
    background-color: black;
    text-align: right;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: red;
    margin-left: 2em;
    transition: all 0.3s ease-in-out;
    padding: 1em;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

#home {
    text-align: center;
}

.background {
    background-image: url('https://images.unsplash.com/photo-1480618757544-81c31930008e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGNocmlzdG1hc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=1600');
    width: 100%;
    color: white;
    padding: 1em;
}

#results {
    text-align: center;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 1.5em;
}

th {
    background-color: red;
}
header{
    position: sticky;
    top: 0;
}

.img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 200px;
    object-fit: cover;
}