body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #333;
}

header {
    background-color: #28a745;
    padding: 20px;
    color: white;
}
header p {
    text-align: center;
}
nav {
    background-color: #007bff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

footer p {
    margin: 0;
}

.player li, .team li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    list-style-type: none;
}
.player li:hover, .team li:hover {
    background-color: #cccccc;
    cursor: pointer;
}
.player li {
    background-color: red;
}